@import url("https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "SN Pro", sans-serif;
  width: 100vw;
}

.headercontaniner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.headercontaniner img {
  width: 180px;
  height: 180px;
}


.navegador{
  display: flex;
  justify-content: center;
 align-items: center;
  gap: 15px;
  height: 20px;
 
}

.navegador a {
font-size: 0.9em;
  text-decoration: none;
   color: #401F34;
   padding: 15px;

}

.navegador a:hover {
 color: #D989B5;
}

/* carrusel */

#carouselExampleCaptions {
  margin-top: 30px;
}

#carouselExampleCaptions .carousel-inner {
  width: 100vw;
  max-height: 200px;
  overflow: hidden;
}
.carousel-item img {
  width: 100%;
  height: 200px;
}
.carousel-item h5 {
  font-size: 18px;
}

.carousel-item p {
  font-size: 14px;
}

/* seccion #bio */
.bio .containerbio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 70vh; */
  color: #8C6179;
    background-color: rgba(255, 219, 249, 0.7);
    padding-top: 25px;

}
.bio img {
  width: 150px;
  height: 150px;
  border-radius: 150px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.bio .con-text-bio {
  text-align: center;
  align-items: center;
  max-width: 300px;
  padding-top: 20px;
  text-wrap: pretty;
 
}
.bio p {
  font-size: 10px;
  text-align: center;
}

/* seccion #contact */

.contact {
  padding: 15px 0px 15px 0px;
}
.contact h2{
    font-size: 1.5rem;
    text-align: center;
    color: #8C6179;
}

.contact p{
     font-size: 0.8rem;
    text-align: center;
     text-wrap: pretty;
     color: #8C6179;
}

.contact .contform {
     display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px; /* Espacio entre label y el input */
    font-size: 0.8rem;
    width: auto;
   
}

.contact .contform input, textarea{
    border-radius: 50px;
    padding: 6px;
   min-width: 200px;
   width: 250px;
   font-size: 10px;
}

.contact button {
    background-color: #D989B5;
    padding: 5px;
    border-radius: 7px;
    margin:15px;
    border: none;
     box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}
/* footer */


.footercontainer {
   height: 20vh;
   background-color: #8C6179;
   text-align: center;
  padding: 30px;
}


.footercontainer h5{
   font-size: 11px;
   font-weight: 500;
   color: #F2F2F2;
}

.footercontainer a {
     padding: 10px;
}


/* .footercontainer .redes {
  padding-bottom: 10px;
} */

